.game {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 7fr;
  grid-template-areas: "name abbreviation status description";
  padding: 10px;
  &__attribute {

  }
  &__name {
    grid-area: name;
    font-weight: bold;
  }
  &__abbreviation {
    grid-area: abbreviation;
  }
  &__status {
    grid-area: status;
  }
  &__description {
    grid-area: description;
  }
}