{% extends 'base.html' %}
{% load pipeline %}
{% block content %}
<h2>{{ thread.name }}</h2>
<a id="game-view-link-{{ thread.game.id }}" class="game-view-link" href="{% url "game_view" thread.game.id %}">Back to Game</a>
<div id="thread-text-{{ thread.id }}" class="thread-text">
    {{ thread.text }}
</div>
{% if thread.author.id == request.user.id %}
    <a href="{% url "thread_edit" thread.id %}">Edit</a>
    <a href="{% url "thread_delete" thread.id %}">Delete</a>
{% endif %}

<div id="thread-form">
    <comment-form character-name="{{ character.name }}" thread-id="{{thread.id}}"></comment-form>
</div>

{% if comments %}
    {% include 'threads/comment.html' %}
{% endif %}
{% endblock %}

{% block scripts %}
    {% javascript 'comments' %}
{% endblock %}