[run]
branch = True
source =
    backend
omit =
    manage.py
    api/app/management/*
    api/app/apps.py
    api/settings.py
    api/storage_backends.py
    api/wsgi.py
[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    raise ValidationError
    raise PermissionDenied
    except DatabaseError: