.splash-page {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  text-align: center;
  background-image: url('images/splash.jpg');
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .splash-page-content {
    padding-right: 25%;
    .splash-page-content__logo {
      &:after {
        content: url("images/logo.png");
      }
    }
    .splash-page-content__buttons {

    }

  }
}