@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.splash-page {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  text-align: center;
  background-image: url('images/splash.jpg');
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .splash-page-content {
    padding-right: 25%;
    &__logo {
      &:after {
        content: url("images/logo.png");
      }
    }
    &__buttons {
      margin-top:20px;
      a {
        @extend .btn;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    &__register-button {
      background-color: white;
    }
    &__login-button {
      @extend .btn-primary;
    }
  }
}