<div id="signups">
    <h3>Sign Ups</h3>
    {% for signup in game.signups.all %}
        <div class="user-signup">
            <span class="signup-user">{{ signup.user.username }}</span>
            <span class="signup-status signup-status-{{ signup.status }}">{{ signup.get_status_display }}</span>
            <span class="signup-actions">
                {% if signup.can_accept %}
                    <a class="signup-button signup-button-accept" href="{% url "game_signup_accept" signup.id %}">Accept</a>
                {% endif %}
                {% if signup.can_reject %}
                    <a class="signup-button signup-button-reject" href="#">Reject</a>
                {% endif %}
            </span>
        </div>
    {% endfor %}
</div>