<div id="signups">
    <h3>Your Status</h3>
    {% if user_signup is not None %}
        <div class="user-signup">
            <span class="signup-user">{{ user_signup.user.username }}</span>
            <span class="signup-status signup-status-{{ user_signup.status }}">{{ user_signup.get_status_display }}</span>
            <span class="signup-actions">
                {% if user_signup.can_withdraw %}
                    <a class="signup-button signup-button-withdraw" href="{% url "game_withdraw" game.id %}">Withdraw</a>
                {% endif %}
                {% if user_signup.can_signup %}
                    <a class="signup-button signup-button-signup" href="{% url "game_signup" game.id %}">Re-Register</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        Interested in playing?
        <a class="signup-button signup-button-signup" href="{% url "game_signup" game.id %}">Sign Up!</a>
    {% endif %}
    <h3>Sign Ups</h3>
    {% for signup in game.signups.all %}
        {% if signup.user != request.user and signup.status != signup.WITHDRAWN %}
        <div class="user-signup">
            <span class="signup-user">{{ signup.user.username }}</span>
        </div>
        {% endif %}
    {% endfor %}
</div>