<div id="signups">
    <h3>Your Status</h3>
    {% if user_signup is not None %}
        <div class="user-signup">
            <span class="signup-user">{{ user_signup.user.username }}</span>
            <span class="signup-status signup-status-{{ user_signup.status }}">{{ user_signup.get_status_display }}</span>
            <span class="signup-actions">
                <a class="signup-button signup-button-withdraw" href="#">Withdraw</a>
            </span>
        </div>
    {% else %}
        Interested in playing?
        <a class="signup-button signup-button-signup" href="#">Sign Up!</a>
    {% endif %}
</div>