{% extends 'base.html' %}
{% block content %}
<h2>{{ game.name }}</h2>
<div class="game-status game-status-{{ game.status }}">
    {{ game.get_status_display }}
    {% if request.user == game.game_master %}
        <a class="status-link next-status-link" href="{% url "game_next_status" game.id %}">Next Status</a>
        <a class="status-link prev-status-link" href="{% url "game_previous_status" game.id %}">Previous Status</a>
    {% endif %}
</div>

{% if game.show_registrations %}
    {% if request.user == game.game_master %}
        {% include "games/signups.html" %}
    {% else %}
        {% include "games/user_signup.html" %}
    {% endif %}
{% endif %}

{% if threads is not False and game.show_threads %}
    {% include "threads/list.html" %}
{% endif %}
{% endblock %}