@import '../../../../sass/mixins/layout';
@import '../../../../sass/palette';

.footer {
  @include grid-vertical-align;
  border-top: $border 2px solid;
  background-color: $contentBackground;
  color: $text;
}