.game {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 7fr;
  grid-template-areas: "name abbreviation status game_master";
  padding: 10px;
  &__attribute {

  }
  &__name {
    grid-area: name;
    font-weight: bold;
  }
  &__abbreviation {
    grid-area: abbreviation;
    &-header {
      font-weight: bold;
    }
  }
  &__status {
    grid-area: status;
    &-header {
      font-weight: bold;
    }
  }
  &__game_master {
    grid-area: game_master;
    &-header {
      font-weight: bold;
    }
  }
}