.games {
  &__title {
    margin-top: 20px;
  }
  .game {
    padding: 10px;
    &__name {
      font-weight: bold;
    }
    &__abbreviation {
      &-header {
        font-weight: bold;
      }
    }
    &__status {
      &-header {
        font-weight: bold;
      }
    }
    &__game_master {
      &-header {
        font-weight: bold;
      }
    }
  }
}